[user]
	name = Firas Abuzaid
	email = fabuzaid21@gmail.com
[alias]
	co = checkout
	br = branch
	lm = ls-files -u
        diff = diff --patience
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	please = push --force-with-lease
	commend = commit --amend --no-edit
	grok = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	st = status --short --branch
	stash-all = stash --all
	stash-untracked = stash --include-untracked
	stash-keep-index = stash --keep-index
[color]
	ui = true
[core]
	autocrlf = input
[merge]
	conflictstyle = diff3
	ff = only
[rerere]
	enabled = true
[push]
	default = simple
